<section class="content">

<div class="row">
    <div class="col-md-12">

        
        <form action="https://demo.phpscriptpoint.com/travelfresh/admin/subscriber/send_email" class="form-horizontal" method="post" accept-charset="utf-8">
            <div class="box box-info">
                <div class="box-body">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Subject </label>
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control" name="subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Message </label>
                        <div class="col-sm-6">
                        <textarea class="form-control" name="Message" ></textarea>
                           </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success pull-left" name="form1">Send Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>		</div>
</div>

</section>