<section class="content">
	<div class="row">
		<div class="col-md-12">

			
	        
			<div class="box box-info">
				<div class="box-body table-responsive">
					<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="example1" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="example1_info">
						<thead>
							<tr role="row"><th width="30" class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SL: activate to sort column descending" style="width: 21.2222px;">SL</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Photo: activate to sort column ascending" style="width: 101.222px;">Photo</th><th width="100" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58.2222px;">Name</th><th width="100" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="URL: activate to sort column ascending" style="width: 51.2222px;">URL</th><th width="80" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 54.1111px;">Action</th></tr>
						</thead>
						<tbody>
															
																
																
																
																
																
																
															
						<tr role="row" class="odd">
									<td class="sorting_1">1</td>
									<td style="width:130px;"><img src="https://demo.phpscriptpoint.com/travelfresh/public/uploads/client-1.png" alt="Client 1" style="width:120px;"></td>
									<td>Client 1</td>
									<td></td>
									<td>										
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/edit/1" class="btn btn-primary btn-xs">Edit</a>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/delete/1" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');">Delete</a>
									</td>
								</tr><tr role="row" class="even">
									<td class="sorting_1">2</td>
									<td style="width:130px;"><img src="https://demo.phpscriptpoint.com/travelfresh/public/uploads/client-2.png" alt="Client 2" style="width:120px;"></td>
									<td>Client 2</td>
									<td></td>
									<td>										
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/edit/2" class="btn btn-primary btn-xs">Edit</a>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/delete/2" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');">Delete</a>
									</td>
								</tr><tr role="row" class="odd">
									<td class="sorting_1">3</td>
									<td style="width:130px;"><img src="https://demo.phpscriptpoint.com/travelfresh/public/uploads/client-3.png" alt="Client 3" style="width:120px;"></td>
									<td>Client 3</td>
									<td></td>
									<td>										
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/edit/3" class="btn btn-primary btn-xs">Edit</a>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/delete/3" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');">Delete</a>
									</td>
								</tr><tr role="row" class="even">
									<td class="sorting_1">4</td>
									<td style="width:130px;"><img src="https://demo.phpscriptpoint.com/travelfresh/public/uploads/client-4.png" alt="Client 4" style="width:120px;"></td>
									<td>Client 4</td>
									<td></td>
									<td>										
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/edit/4" class="btn btn-primary btn-xs">Edit</a>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/delete/4" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');">Delete</a>
									</td>
								</tr><tr role="row" class="odd">
									<td class="sorting_1">5</td>
									<td style="width:130px;"><img src="https://demo.phpscriptpoint.com/travelfresh/public/uploads/client-5.png" alt="Client 5" style="width:120px;"></td>
									<td>Client 5</td>
									<td></td>
									<td>										
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/edit/5" class="btn btn-primary btn-xs">Edit</a>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/delete/5" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');">Delete</a>
									</td>
								</tr><tr role="row" class="even">
									<td class="sorting_1">6</td>
									<td style="width:130px;"><img src="https://demo.phpscriptpoint.com/travelfresh/public/uploads/client-6.png" alt="Client 6" style="width:120px;"></td>
									<td>Client 6</td>
									<td></td>
									<td>										
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/edit/6" class="btn btn-primary btn-xs">Edit</a>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/delete/6" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');">Delete</a>
									</td>
								</tr><tr role="row" class="odd">
									<td class="sorting_1">7</td>
									<td style="width:130px;"><img src="https://demo.phpscriptpoint.com/travelfresh/public/uploads/client-7.png" alt="Client 7" style="width:120px;"></td>
									<td>Client 7</td>
									<td></td>
									<td>										
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/edit/7" class="btn btn-primary btn-xs">Edit</a>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/client/delete/7" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');">Delete</a>
									</td>
								</tr></tbody>
					</table></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 7 of 7 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">Next</a></li></ul></div></div></div></div>
				</div>
			</div>
		</div>
	</div>


</section>