


	<div class="wrapper">

		<header class="main-header">

			<a href="https://demo.phpscriptpoint.com/travelfresh/admin/dashboard" class="logo">
				<span class="logo-lg">TravelFresh</span>
			</a>

			<nav class="navbar navbar-static-top">
				
				<a  (click)="toggleClasses()" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>

				<span style="float:left;line-height:50px;color:#fff;padding-left:15px;font-size:18px;">Admin Panel</span>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li>
							<a href="http://localhost:8000/"  target="_blank">Visit Website</a>
						</li>

						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
																	<img src="http://localhost:8001/attchments/members/profile-660da136def04108770744.jpg" class="user-image" alt="user photo">
																
								<span class="hidden-xs"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="user-footer">
									<div>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/profile" class="btn btn-default btn-flat">Edit Profile</a>
									</div>
									<div>
										<a href="https://demo.phpscriptpoint.com/travelfresh/admin/login/logout" class="btn btn-default btn-flat">Log out</a>
									</div>
								</li>
							</ul>
						</li>
						
					</ul>
				</div>

			</nav>
		</header>

  		
  		<aside class="main-sidebar">
    		<section class="sidebar">

     
      			<ul class="sidebar-menu">

			        <li class="treeview active">
			          <a routerLink="/">
			            <i class="fa fa-laptop"></i> <span>Dashboard</span>
			          </a>
			        </li>


								        <li class="treeview ">
			          <a routerLink="/sittings">
			            <i class="fa fa-cog"></i> <span>Settings</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a routerLink="/pages">
			            <i class="fa fa-file-text"></i> <span>Page</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a routerLink="/travllers">
			            <i class="fa fa-plane"></i> <span>Traveller</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a routerLink="/destinations">
			            <i class="fa fa-map-signs"></i> <span>Destination</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a routerLink="/package">
			            <i class="fa fa-random"></i> <span>Package</span>
			          </a>
			        </li>

              <li [ngClass]="{'treeview': !isActive, 'treeview active': isActive}" (click)="toggleActive()">
                <a href="#">
                    <i class="fa fa-newspaper-o"></i>
                    <span>News</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" [ngStyle]="{'display': isActive ? 'block' : 'none'}">
                    <li><a href="https://demo.phpscriptpoint.com/travelfresh/admin/category"><i class="fa fa-circle-o"></i>Category</a></li>
                    <li><a href="https://demo.phpscriptpoint.com/travelfresh/admin/news"><i class="fa fa-circle-o"></i> News</a></li>
                    <li><a href="https://demo.phpscriptpoint.com/travelfresh/admin/comment"><i class="fa fa-circle-o"></i> Comment</a></li>
                </ul>
            </li>

            <li [ngClass]="{'treeview': !isActivenews, 'treeview active': isActivenews}" (click)="togglenewsActive()">
              <a href="#">
                <i class="fa fa-comment"></i>
                <span>Subscriber</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu" [ngStyle]="{'display': isActivenews ? 'block' : 'none'}">
                <li><a href="https://demo.phpscriptpoint.com/travelfresh/admin/subscriber"><i class="fa fa-circle-o"></i>All Subscribers</a></li>
                <li><a href="https://demo.phpscriptpoint.com/travelfresh/admin/subscriber/send_email"><i class="fa fa-circle-o"></i>Email to Subscribers</a></li>
              </ul>
            </li>
            

			        <li class="treeview ">
			          <a href="/TeamMembers">
			            <i class="fa fa-users"></i> <span>Team Member</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/slider">
			            <i class="fa fa-picture-o"></i> <span>Slider</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/testimonial">
			            <i class="fa fa-user-plus"></i> <span>Testimonial</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/client">
			            <i class="fa fa-clone"></i> <span>Client</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/service">
			            <i class="fa fa-bars"></i> <span>Service</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/payment">
			            <i class="fa fa-usd"></i> <span>Payment</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/faq">
			            <i class="fa fa-bolt"></i> <span>FAQ</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/file">
			            <i class="fa fa-file-text"></i> <span>File</span>
			          </a>
			        </li>

			        <li class="treeview ">
			          <a href="https://demo.phpscriptpoint.com/travelfresh/admin/social_media">
			            <i class="fa fa-address-book"></i> <span>Social Media</span>
			          </a>
			        </li>

			        	        

			                
      			</ul>
    		</section>
  		</aside>

  		<div class="content-wrapper" style="min-height: 1000px;background-color: aliceblue !important;"><section class="content-header">
  <h1>{{ title }}</h1>
</section>

<section class="content">
  <router-outlet></router-outlet>

</section>		</div>

	</div>

	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery-2.2.4.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/bootstrap.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.dataTables.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/dataTables.bootstrap.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/select2.full.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jscolor.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.inputmask.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.inputmask.date.extensions.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.inputmask.extensions.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/moment.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/bootstrap-datepicker.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/icheck.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/fastclick.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.sparkline.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.slimscroll.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.fancybox.pack.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/app.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/jquery.magnific-popup.min.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/ckeditor/ckeditor.js"></script>
	<script src="https://demo.phpscriptpoint.com/travelfresh/public/admin/js/demo.js"></script>

	<script>



	(function($) {
		
		CKEDITOR.replace('editor1', {
	  		height: 400,
	  		baseFloatZIndex: 10005
		});

		CKEDITOR.replace('editor2', {
	  		height: 400,
	  		baseFloatZIndex: 10005
		});

		CKEDITOR.replace('editor3', {
	  		height: 400,
	  		baseFloatZIndex: 10005
		});

		CKEDITOR.replace('editor4', {
	  		height: 400,
	  		baseFloatZIndex: 10005
		});

		CKEDITOR.replace('editor5', {
	  		height: 400,
	  		baseFloatZIndex: 10005
		});

		CKEDITOR.replace('editor6', {
	  		height: 400,
	  		baseFloatZIndex: 10005
		});

	    //Initialize Select2 Elements
	    $(".select2").select2();

	    //Datemask dd/mm/yyyy
	    $("#datemask").inputmask("dd-mm-yyyy", {"placeholder": "dd-mm-yyyy"});
	    //Datemask2 mm/dd/yyyy
	    $("#datemask2").inputmask("mm-dd-yyyy", {"placeholder": "mm-dd-yyyy"});
	    //Money Euro
	    $("[data-mask]").inputmask();

	    //Date picker
	    $('#datepicker').datepicker({
	      autoclose: true,
	      format: 'yyyy-mm-dd',
	      todayBtn: 'linked',
	    });

	    $('#datepicker1').datepicker({
	      autoclose: true,
	      format: 'yyyy-mm-dd',
	      todayBtn: 'linked',
	    });

	    $('#datepicker2').datepicker({
	      autoclose: true,
	      format: 'yyyy-mm-dd',
	      todayBtn: 'linked',
	    });

	    //iCheck for checkbox and radio inputs
	    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
	      checkboxClass: 'icheckbox_minimal-blue',
	      radioClass: 'iradio_minimal-blue'
	    });
	    //Red color scheme for iCheck
	    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
	      checkboxClass: 'icheckbox_minimal-red',
	      radioClass: 'iradio_minimal-red'
	    });
	    //Flat red color scheme for iCheck
	    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
	      checkboxClass: 'icheckbox_flat-green',
	      radioClass: 'iradio_flat-green'
	    });


	    $("#example1").DataTable();
	    $('#example2').DataTable({
	      "paging": true,
	      "lengthChange": false,
	      "searching": false,
	      "ordering": true,
	      "info": true,
	      "autoWidth": false
	    });

	    $('#confirm-delete').on('show.bs.modal', function(e) {
	      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	    });
 
	})(jQuery);

	</script>

	<script type="text/javascript">

        $(document).ready(function () {

            $("#btnAddNew").on('click',function () {

		        var trNew = "";

		        var photo = '<input type="file" name="photos[]">';
		        
		        var deleteRow = '<a href="javascript:void()" class="Delete btn btn-danger btn-xs">X</a>';

		        trNew = trNew + "<tr> ";

		        trNew += "<td>" + photo + "</td>";
		        trNew += "<td>" + deleteRow + "</td>";

		        trNew = trNew + " </tr>";

		        $("#photoSelection tbody").append(trNew);

		        $('.select2').select2();

		    });

		    $('#photoSelection').delegate('a.Delete', 'click', function () {
		        $(this).parent().parent().fadeOut('slow').remove();
		        return false;
		    });




		    $("#btnAddNew1").on('click',function () {

		        var trNew = "";

		        var video = '<textarea name="videos[]" class="form-control" cols="30" rows="10" style="height:80px;"></textarea>';
		        
		        var deleteRow = '<a href="javascript:void()" class="Delete1 btn btn-danger btn-xs">X</a>';

		        trNew = trNew + "<tr> ";

		        trNew += "<td>" + video + "</td>";
		        trNew += "<td>" + deleteRow + "</td>";

		        trNew = trNew + " </tr>";

		        $("#videoSelection tbody").append(trNew);

		        $('.select2').select2();

		    });

		    $('#videoSelection').delegate('a.Delete1', 'click', function () {
		        $(this).parent().parent().fadeOut('slow').remove();
		        return false;
		    });

        });

		selectEmailMethod = $('#selectEmailMethod').val();
        $('#selectEmailMethod').on('change',function() {
            selectEmailMethod = $('#selectEmailMethod').val();
            if ( selectEmailMethod == 'Normal' ) {
               	$('#smtpContainer').hide();
            } else if ( selectEmailMethod == 'SMTP' ) {
               	$('#smtpContainer').show();
            }
        });
        
    </script>
